@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JalnanGothic';
  src: url('~/static/fonts/JalnanGothicTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*, html {
  font-family: 'Pretendard', 'JalnanGothic', 'sans-serif'; 
  box-sizing: border-box;
  /* scrollbar-width: none; */
}
em{
  @apply not-italic;
}
.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 최대 사이즈 */
body{
  @apply bg-[#fff];
}
.wrap{
  @apply !max-w-[480px] m-[0_auto] bg-[#fff];
}
.offcanvas-overlay {
  @apply max-w-[480px] m-[0_auto];
}