@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JalnanGothic';
  src: url('~/static/fonts/JalnanGothicTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*, html {
  font-family: 'Pretendard', 'JalnanGothic', 'sans-serif'; 
  box-sizing: border-box;
  /* scrollbar-width: none; */
}
em{
  @apply not-italic;
}

/* pc테스트 */
body{
  @apply bg-[#4f4f4f];
}
.wrap{
  @apply !max-w-[375px] h-[100dvh] m-[0_auto] bg-[#fff];
}
.offcanvas-overlay {
  @apply max-w-[375px] m-[0_auto];
}